.container {
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-right: 25%;
  width: calc(100%-300px);
  background-color: #fff;
}

.logo {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  color: #003147;
}

.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;
  color: #003147;
  margin-left: 15px;
}

.lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #003147;
  margin-left: 15px;
}

.img {
  height: auto;
  width: 150px;
}
