.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  outline: none; /* Remove outline */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
