.main {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
  }
}
