.button {
  background-color: #003147;
  color: #fff;
  width: 150px;
  height: auto;
  border-radius: 10px;
  border: #ff2e63;
  padding-top: 0;
  margin-bottom: 25px;
}

.button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #003147;
  border: 1px solid #003147;
}
