.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form {
    margin-top: 50px;
    height: 470px;
    width: 450px;
    border: 1px solid #023047;
    background-color: #fff;
    padding-top: 35px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 14px 19px 7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 14px 19px 7px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 14px 19px 7px rgba(0, 0, 0, 0.53);
    padding-left: 15px;
    padding-right: 15px;
  }
  
  h3 {
    color: #ff2e63;
  }
  
  hr {
    color: #ff2e63;
    width: 75%;
  }
  
  input {
    width: 65%;
    border-radius: 5px;
    margin-top: 20px;
    height: 35px;
    text-align: center;
  }
  
  .inputFields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  button {
    margin-top: 35px;
    width: 35%;
    height: 35px;
    border-radius: 10px;
    border: #ff2e63;
  }
  
  button:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: #ff2e63;
  }
  