/* .container {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 25px;
}

.container a {
  padding-top: 15px;
}

.sidebar_ul {
  display: flex;
  list-style-type: none;
  margin-top: 15px;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.sidebar_li {
  display: block;
  color: #252a34;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  width: 100%;
  text-align: left;
}

.sidebar_li:hover {
  color: white;
}

.sidebar_a {
  padding-left: 12px;
}

.activeLink {
  background-color: #a799b7;
}



.sidebar_h1:hover {
  color: #eaeaea;
}

a:hover {
  text-decoration: none;
}

.sidebar_h1 {
  font-size: 28px;
} */

.container {
  position: fixed;
  width: 100%;
  left: 0;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003147;
  transition: 0.5s;
  overflow: hidden;
  border-right: 1px solid #fff;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style-type: none;
}

.navigation ul li:hover {
  background: #03a9f4;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.sidebar_li {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
}

.title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
