.recentOrders {
  position: relative;
  display: grid;
  min-height: 530px;
  background: #fff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header h2 {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table thead td {
  font-weight: bold;
}

table tr {
  border-bottom: 1px solid gray;
}

table tbody tr:hover {
  background: #003147;
  color: #fff;
}

table tr td {
  padding: 9px 5px;
}

.btnConfirm {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: green;
}

.btnDdelete {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: red;
}

.state {
  background-color: gray;
  border-radius: 10px;
}
