.companies {
  position: relative;
  display: grid;
  min-height: 530px;
  background: #fff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.view_link {
  position: relative;
  padding: 5px 10px;
  background: #003147;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}